.sell{
    font-family: "SFrounded", sans-serif;
    .sell-title{
        text-align: center;
        margin-bottom: 2rem;
        h2{
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
    }

    .center-container{
        display: flex;
        justify-content: center;
    }

    .sell-form-container{
        width: 80%;
        max-width: 600px;
        margin: 0 auto;

        h4{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .hidden{
            display: none;
        }

        #sell-info{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .form-row{
                display: flex;
                flex-direction: column;
                gap: 2.2rem;
            }

            label{
                font-size: 1.5rem;
                margin-right: 7px;
            }

            input{
                border-radius: 5px;
                border: none;
                border-bottom: 1px solid #ccc;
                padding: 0.5rem;
                font-size: 1rem;
            }

            textarea{
                border: none;
                border-bottom: 1px solid #ccc;
                padding: 0.5rem;
                font-size: 1rem;
                margin-top: 15px;
            }

            button{
                background-color: #0071e3;
                color: #fff;
                border: none;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                cursor: pointer;
            }

            button:hover{
                background-color: #0056b3;
                cursor: pointer;
            }

            .dropzone{
                border: 2px dashed #ccc;
                border-radius: 0.5rem;
                padding: 1rem;
                text-align: center;
                cursor: pointer;
                margin-top: 15px;
            }

            .dropzone:hover{
                border-color: #0071e3;
            }

            select{
                border-radius: 5px;
                border: none;
                border-bottom: 1px solid #ccc;
                padding: 0.5rem;
                font-size: 1rem;
            }

            .radio-group{
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }

            h5{
                font-size: 1.2rem;
            }

            .radio-group input[type="radio"] {
                margin-right: 0.5rem;
            }
            

            .link-button{
                text-align: center;
                padding: 8px;
                background-color: #0071e3;
                border-radius: 20px;
                text-decoration: none;
                color: #ffffff;
                
            }

            .cost-list{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .cost-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                h6{
                    font-size: 1.5rem;
                }

                small{
                    font-size: 1rem;
                }

                .total{
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #e24b5f;
                }
            }
        }
    }




}
