.cart-icon {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;  
  height: 40px;
}

#cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart-count.hidden {
  display: none;
}
